# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
/build/

/local.properties
/kaonic-plugin/kaonic/target/
.gradle/8.11.1
.gradle/buildOutputCleanup
.gradle/vcs-1
.gradle/config.properties
.gradle/file-system.probe
