# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
/build/
kaonic-plugin/.cxx/*
kaonic-plugin/gst-android-build
kaonic-plugin/src/main/assets
kaonic-plugin/src/org

/local.properties
/kaonic-plugin/kaonic/target/
.gradle/8.11.1
.gradle/buildOutputCleanup
.gradle/vcs-1
.gradle/config.properties
.gradle/file-system.probe

kaonic-sample/release

**/.DS_Store

